@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a,
a:hover {
	color: inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Microsoft YaHei', 'PingFangSC-Light', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', 'Arial',
		'sans-serif';
}

.cs-font {
	font-weight: 300;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

/* shadow-card */
.cs-card {
	background-color: #fff;
	--tw-shadow: 0 1px 4px rgb(0 21 41 / 8%);
	--tw-shadow-colored: 0 1px 4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	padding: 16px;
}

@media screen and (max-width: 650px) {
	.cs-card {
		padding: 10px;
	}
}

/* cs-aside */
.cs-aside :global(.ant-menu) {
	height: calc(100% - 64px);
}

.cs-aside :global(.ant-menu-root) {
	box-shadow: 2px 4px 4px 0 rgb(0 35 41 / 8%);
}

.cs-aside :global(.ant-menu-inline),
.cs-aside :global(.ant-menu-vertical) {
	border-right: none;
}

/* 解决message提示框图标错位 */
.ant-message .ant-message-custom-content {
	display: flex;
	align-items: center;
}
.ant-message .anticon {
	top: 0 !important;
}

/* 解决右边闪烁 */
.ant-zoom-big-leave.ant-zoom-big-leave-active {
	display: none;
}

/* 解决第一次左上角闪烁 */
.ant-zoom-big-leave-start .ant-menu {
	display: none;
}
